{% include "header.html" ignore missing %}

<div class="row-fluid">
	<div class="span3 offset1" align="center">
	<div class="alert alert-info">
	<strong>Application Nodes</strong>
    </div>
	<p>
	<BR>
	<button class="btn btn-success" type="button" style="width: 150px">Java Node</button>
	<BR><BR>
	<button class="btn btn-success" type="button" style="width: 150px">NodeJS Node</button>
	<BR><BR>
	<button class="btn btn-success" type="button" style="width: 150px">Nginx Node</button>
	<BR><BR>
	<button class="btn btn-success" type="button" style="width: 150px">Tomcat Node</button>
	</div>
    <div class="span3" align="center">
    <div class="alert alert-info">
    <strong>Database Services</strong>
    </div>
	<p>
    <BR>
    <button class="btn btn-warning" type="button" style="width: 150px">MongoDB Cluster</button>
    <BR><BR>
    <button class="btn btn-warning" type="button" style="width: 150px">Cassandra Cluster</button>
    <BR><BR>
    <button class="btn btn-warning" type="button" style="width: 150px">Redis Cluster</button>
    <BR><BR>
    <button class="btn btn-warning" type="button" style="width: 150px">Rabbit Cluster</button>
    <BR><BR>
    <button class="btn btn-warning" type="button" style="width: 150px">Storm Cluster</button>
	</div>

    <div class="span3" align="center">
    <div class="alert alert-info">
    <strong>Load Balancers Services</strong>
    </div>
    <p>
	<BR>
	<button class="btn btn-info" type="button" style="width: 150px">Haproxy Load Balancer</button>
    <BR><BR>

    </div>

</div>
</body>
</html>
