
{% include "header.html" ignore missing %}

<div class="row-fluid">
	<div class="span4 offset1" align="center"><span class="label label-info">Callable URLs</span>
	<p>
	<table class="table table-striped">
		<tr>
		<td>URL</td><td><p class="text-info">/viawest/node/deploy/az/appname/version/puppetClass/count/size</p></td>
		</tr>
		<tr>
		<td>URL</td><td><p class="text-info">/viawest/node/undeploy/hostname</p></td>
		</tr>
	</table>
	</div>
    <div class="span4 offset1" align="center">
	<span class="label label-info">Via West</span></br>
	<p>

	</div>
</div>
</body>
</html>
