
{% include "header.html" ignore missing %}

<div class="row-fluid">
    <div class="span9 offset1" align="center">
	<span class="label label-info">Instances</span></br>
	<p align="left">
		<span class="label label-info">Search:</span> <input type="text" id="kwd_search" class="input-medium search-query" value=""/>
	</p>
	<p>
		<table class="table table-striped" id="simpleTable">
		<thead>
		<tr style="font-weight:bold">
		<th data-sort="string">Name</th><th data-sort="string">Instance ID</th><th data-sort="string">IP</th><th data-sort="string">Size</th><th data-sort="string">Status</th><th>Reize</th><th>Reboot</th><th>Delete</th>
		</tr>
		</thead>
		<tbody>
		{% for instance in instance_list %}
		<tr>
		<td>
		<a href="{{ url_for('aws_app_route_puppet_enc_edit_node', region=region,node=instance['name'])}}">{{instance['name']}}</a>
		</td>
		<td>
		{{instance['instance_id']}}
		</td>
		<td>
		{{instance['ip']}}
		</td>
		<td>
		<select class="select_size" size="1">
		<option>{{instance['instance_type']}}</option>
		<option value="m1.small">m1.small</option>
		<option value="m1.medium">m1.medium</option>
		<option value="m1.large">m1.large</option>
		<option value="m1.xlarge">m1.xlarge</option>
		</select>
		</td>
		<td>
		{{instance['status']}}
		</td>
		<td>
		<a class="aws_resize_link" href="/aws/instances/{{region}}/resize/{{instance['instance_id']}}/aws_instance_size"><button class="btn btn-warning btn-mini" type="button">Resize</button></a>  
		</td>
		<td>
		<a href="{{ url_for('aws_app_route_reboot_instance', region=region, instance_id=instance['instance_id'])}}"><button class="btn btn-success btn-mini" type="button">Reboot</button></a>	
		</td>
		<td>
		<a href="{{ url_for('aws_app_route_delete_instances_node', region=region, hostname=instance['name'])}}"><button class="btn btn-danger btn-mini" type="button">Delete</button></a>	
		</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
</div>
</body>
</html>
