{% include "header.html" ignore missing %}

<form method=post action="/aws/puppet_enc/us-west-2/edit/{{node_meta_data['node']}}">

<div class="row-fluid">
	<div class="span3 offset1" align="center">
	<div class="alert alert-info">
	<strong>Puppet ENC - Edit</strong>
    </div>
	<p>
	<button class="btn btn-success" type="button" style="width: 200px">{{node_meta_data['node']}}</button>
    <BR><BR>
    {% if node_info %}
    <input type=submit class="btn btn-info" style="width: 200px" value="Update">
    <BR><BR>
    <a href="{{ url_for('aws_api_route_puppet_apply', ip=node_meta_data['ip_addr'])}}">
    	<button class="btn btn-warning" type="button" style="width: 200px">Puppet Apply</button>
    </a>
    {% endif %}
    <BR><BR>
	</div>
	{% if node_info %}
    <div class="span2" align="center">
    <div class="alert alert-info">
    <strong>Puppet Classes</strong>
    </div>
    <p>
    	 {% if 'classes' in node_info['enc'] %}
    	<table class="table">
    		<tbody>
			{% for class in node_info['enc']['classes'] %}	
			<tr>
				<td><input type="hidden" name="puppet_classes" value="{{class}}">{{class}}</td><td><a href='#'><i class="icon-remove" onClick="$(this).closest('tr').remove();"></i></a></td>
			</tr>
		{% endfor %}

			</tbody>
		</table>
		{% endif %}
	</div>
	
	<div class="span3">
    <div class="alert alert-info" align="center">
    <strong>Puppet Paramaters</strong>
    </div>
    <p>
    	{% if 'parameters' in node_info['enc'] %}
    	<table class="table">
    		<tbody>
    		
    		{% for key, value in node_info['enc']['parameters'].iteritems() %}
    		<input type="hidden" name="puppet_paramaters" value="{{key}}={{value}}">
    		<tr>
    			<td>
    			{{key}}
    			</td>
    			<td>
    			{{value}}
    			</td>
    			<td>
    				<a href='#'><i class="icon-remove" onClick="$(this).closest('tr').remove();"></i></a>
    				
    			</td>
    		</tr>
    	{% endfor %}
    	
    	
    		</tbody>
    	</table>
    	{% endif %}
    	
 		
   </div>
 	{% endif %}
	<div class="span2" align="center">
    <div class="alert alert-info">
	<strong>EC2 Meta Data</strong>
	</div>
	<p>
		<table class="table table-striped">
			<tbody>
				<tr>
                    <td nowrap>Instance ID:</td>
                    <td nowrap>{{node_meta_data['instance_id']}}</td>
                </tr>
				<tr>
                    <td nowrap>Size:</td>
                    <td nowrap>{{node_meta_data['size']}}</td>
                </tr>
				<tr>
                    <td nowrap>IP Address:</td>
                    <td nowrap>{{node_meta_data['ip_addr']}}</td>
                </tr>
				<tr>
                    <td nowrap>Archecture:</td>
                    <td nowrap>{{node_meta_data['architecture']}}</td>
                </tr>
				<tr>
                    <td nowrap>AMI:</td>
                    <td nowrap>{{node_meta_data['ami']}}</td>
                </tr>
				<tr>
                    <td nowrap>Device:</td>
                    <td nowrap>{{node_meta_data['root_device_type']}}</td>
                </tr>
				<tr>
                    <td nowrap>Subnet ID:</td>
                    <td nowrap>{{node_meta_data['subnet_id']}}</td>
                </tr>
				<tr>
                    <td nowrap>Deploy Time:</td>
                    <td nowrap>{{node_meta_data['deploy_time']}}</td>
                </tr>
			</tbody>
		</table>
	</p>

</div>
</form>
</body>
</html>
